#!/usr/bin/env bash
# fake hardware setup template

echo ""
echo "#####################################################"
echo "#  This is a Fake Hardware Setup stage.             #"
echo "#  Normally you might do things like BIOS settings, #"
echo "#  Firmware/Flash install, RAID config, etc. here.  #"
echo "#####################################################"
echo ""

exit 0
